<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgendaSwiftTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F587EE81D9FBC5C0004A93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F587EFF1D9FBC5C0004A93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F587F0A1D9FBC5C0004A93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
